In [1]:
# Challenge 1
#hi

In [2]:
# Challenge 2

In [3]:
# Challenge 3
layout = [
    ["O","e","e",None, "e","o","e",None, "o","o","E"], # row 1
    ["O","o","e",None, "e","o","e",None, "e","o","E"], # row 2
    ["O","o","o",None, "o","o","e",None, "o","e","O"], # row 3
    ["E","o","e",None, "e","o","e",None, "o","e","E"], # row 4 
    ["E","e","o",None, "e","e","e",None, "o","o","E"], # row 5
    ["O","e","e",None, "e","e","e",None, "e","e","E"]  # row 6
]

# seats must has a window seat and both of them are e.
# E indicates window seat
# prioritise the lower row

In [4]:
# Challenge 4

starters = {
    "Potato Pancakes": 7.99,
    "Salami Platter": 10.29,
    "Brezel": 6.99,
    "Maultaschen": 9.99,
    "Fried Potatoes": 4.99
}

mains = {
    "Braised Beef Short Ribs": 18.99,
    "Paprika Beef Goulash": 15.5,
    "Jager Schnitzel": 16.99,
    "House-mase Bratwurst": 11.99,
    "Kasespatzle": 14.99,
    "German Ravioli": 12.79,
    "Curry Wurst": 10.99
}

desserts = {
    "Chilled Chocolate Fondant": 7.9,
    "Pepermint Crisp Tart": 5.9,
    "Ginger Cobbler": 6.9,
    
}

beers = {
    "Stigel Radler": 6.9,
    "Munich Lager": 7.9,
    "Kong Ludwig Weissbier": 8.9,
    "Warsteiner Punkel": 7.5,
}

# The customer will pick the most expensive dish of the course. Generate the a dictionary of the selected dished and calculate the tip (10%) amount.

# find the most expensive dish of each course => using max()
# instantiate a dictionary to contain key and value (the highest price)

meals = {
    "starters": max(starters, key=starters.get),
    "mains": max(mains, key=mains.get),
    "desserts": max(desserts, key=desserts.get),
    "beers": max(beers, key=beers.get)
}
print(meals)
meal_price = max(starters.values()) + max(mains.values()) + max(desserts.values()) + max(beers.values())
meal_tip = meal_price * 0.1
print(meal_tip)

{'starters': 'Salami Platter', 'mains': 'Braised Beef Short Ribs', 'desserts': 'Chilled Chocolate Fondant', 'beers': 'Kong Ludwig Weissbier'}
4.608

In [5]:
# challenge 5
landmarks = {
    "Big Ben": 12,
    "Tower Bridge": 25,
    "Buckingham Palace": 15,
    "Madame Tussauds": 25,
    "London Eye": 40,
    "Tower of London": 25,
    "Emirates Air Line cable car": 16,
    "London Transport Museum": 7,
    "Wembley Stadium": 8,
    "Hyde Park": 0,
    "The View from The Shard": 14
}

# find landmark which has visit time less than 15 min. List the places and how many places

count = 0
for i in range(len(landmarks)):
    if list(landmarks.items())[i][1] < 15:
        count = count + 1
        print(count)
        print(list(landmarks.items())[i][0])


# more concise 
keys = list(landmarks.keys())
values = list(landmarks.values())


res = []
for i in range(len(keys)):
    if values[i] < 15:
        res.append(keys[i])

len(res)

1
Big Ben
2
London Transport Museum
3
Wembley Stadium
4
Hyde Park
5
The View from The Shard

In [1]:
# tag: function, if statement
# Day 6: use function and if statement to navigate airplane to the slot
"""There are 2 kinds of possible airplanes: **Narrow-Body (Single aisle)** or **Wide-Body**.
 - Wide-Body planes can only use gates in **W** spots.
 - Narrow-Body planes can use gates in either **N** or **W** spots.
In the list of gates, gates are written in either lower-case or upper-case. An upper-case letter means that the particular gate is **AVAILABLE**, while a lower-case letter means that the gate is **UNAVAILABLE**.

Our function must return a number with the position of the gate where the airplane can park. See the example input and output below for an illustration.

**Note:** There may be multiple available spots for a particular airplane. If that happens, our function should return the first possible spot to minimize the airplane taxiing time. If there are no available gates, remember to return boolean value False.
"""

def find_the_gate(s, ve):
    for i in range(len(s)):
        if s[i] == 'W':
            return i
        elif s[i] == 'N':
            if ve == 'narrow':
                return i
        else :
            continue
    return False
s = ['w','n','n','w','N','n','w','N','N','w','n','n','w','n','n','W','W','W','W','n','n','w','n','n']
ve = 'wide'
print(find_the_gate(s, ve))

15

In [ ]:
#tag: pandas - descriptive statistics
# max, min, mode, mean, median
#Day 07: provided a dataset of soccer
import pandas as pd
df = pd.read_csv('fc_barcelona.csv')
df.head()

points = df.Pts
games_played = df.MP
wins = df.W
losses = df.L
attendance = df.Attendance.dropna() # skipping missing values (NaN) because there were no fans during 2020-2021 season because of COVID
"""
What is the maximum amount of games Barcelona playes in 1 season?
What is the average attendance across the seasons?
What is the difference between median value of wins and losses?
What is the minimum number of games Barcelona managed to win in 1 season?
What is the difference between max and min amount of points Barcelona was able to get in all seasons?
"""

print(games_played.max())
print(attendance.mean())
print(wins.median() - losses.median())
print(wins.min())
print(points.max() - points.min())

In [ ]:
#tag: pandas - built in functions:
# head/tail, unique
# describe,  shape, sort_values, info
# idxmax, idxmin, loc, iloc
#Day 08: provided a dataset of landmark in Paris and help the tourist find out which location to fit in the plan
import pandas as pd
df = pd.read_csv('paris_landmarks.csv')
df.head()
# What is the most expensive landmark in Paris?
df.iloc[df['price'].idxmax()]['landmark']
# What is the average wait time for all landmarks?
df['queue_time'].mean()

#comments: series
#df.loc[df['price'].eq(15)]['queue_time'] gives you the queue time column for landmarks where the price is 15 => ? use filter instead

In [ ]:
#tag: pandas - filter
#Day 09: provided a dataset of wine
# How many Italian wines have lower percentage of alcohol than 13%
print(len(df[df.Alcohol < 13]))
# How many wines are there in class 3?
print(len(df[df.Class == 3]))
# How many wines have level of magnesium between 90 and 100?
print(len(df[df.Magnesium.between(90,100)]))
# How many wines have level of magnesium higher than 90, and a percentage of alcohol lower than 13.5%?
print(len(df[(df.Magnesium > 90) & (df.Alcohol < 13.5)]))

#comments: Jupyter can display max 60 lines
# ref: https://cmdlinetips.com/2018/02/how-to-subset-pandas-dataframe-based-on-values-of-a-column/

In [ ]:
#tag: pandas - groupby, sorted
#Day 10: provided a dataset of real eastate, there are several neighborhood with details price of each property.
#Which neighborhood has the highest average property price and the highest size_in_sqft?
import pandas as pd
df = pd.read_csv('dubai_properties_data.csv')
grouped = df.groupby('neighborhood')[['price','size_in_sqft']].mean()
grouped.sort_values('price',ascending=False).head(1)
grouped.sort_values('size_in_sqft',ascending=False).head(1)

In [ ]:
#tag: pandas - generate new column from existing column
# Day 11: provided a dataset of real eastate, there are several neighborhood with details price of each property.
# which neighborhood has the biggest difference between maximum and minimum property price?
import pandas as pd
df = pd.read_csv('dubai_properties_data.csv')
df.head()

#step 1: find the min max price of each property
dfgrouped = df.groupby(['neighborhood']).agg({'price' : ['min', 'max']})

#step 2: find the gap between 2 columns 
# => Ref: New column derived from existing columns https://pandas.pydata.org/docs/getting_started/intro_tutorials/05_add_columns.html#
# note: the column name is with 'price'
dfgrouped["gap"] = (dfgrouped['price', 'min'] - dfgrouped['price', 'max'])

# step 3: find the highest gap = sort + display the top. It is by default that ascending = True but keep this habit for syntax.
dfgrouped.sort_values('gap',ascending=True).head(1)

#step 2: alternative
# (dfgrouped.iloc[:,1] - dfgrouped.iloc[:,0]).sort_values(ascending=False).head()

#Notice some interesting comments about other solutions - but no time to dig in + current solution is pretty clear to follow

In [13]:
#tag: stack
#ref: https://www.w3resource.com/pandas/dataframe/dataframe-unstack.php
#     https://www.w3resource.com/pandas/dataframe/dataframe-stack.php
import pandas as pd

# we define the dataframe
# Note: 
#   index = row; 
#   default value of columns and index run from 0, 1,... ; 
#   fill data by row
#   transpose() between column and row
#   print(df.index) could return index, MultiIndex (for stack), RangeIndex (default index value)
df = pd.DataFrame([[1, 2], [3, 4]],
            index=['index1', 'index2'],
            columns=['column1', 'column2'])
df

        column1  column2
index1        1        2
index2        3        4

In [ ]:
#Day 12: dataset of Australia cities with temperature 
# What is the difference between the average summer temperatures (using variable Temp9am) and the average winter temperatures (using variable Temp9am) for Adelaide, Albany and Albury?
# filter
seasons = ['summer', 'winter']
Locations = ['Adelaide', 'Albany', 'Albury']
grouped = df[df.season.isin(seasons) & df.Location.isin(Locations)]
#group
group = grouped.groupby(['Location', 'season'])['Temp9am'].mean()
group
#unstack
unstack = group.unstack(level=-1)
#calculate
unstack.iloc[:,0] - unstack.iloc[:,1]